---
import type { GetStaticPaths, InferGetStaticParamsType } from "astro";
import { getCollection } from "astro:content";

import BlogCard from "../../../../components/cards/blogCard.astro";
import BlogHeader from "../../../../components/headers/blogHeader.astro";
import Layout from "../../../../layouts/Layout.astro";
import { languages } from "../../../../i18n/ui";
import { postTags } from "../../../../content.config";
import CategoryTags from "../../../../components/forms/categoryTags.astro";
import Pagination from "../../../../components/utils/pagination.astro";
import PostContactBtn from "../../../../components/forms/postContactBtn.astro";
import { getLangFromUrl, useTranslations } from "../../../../i18n/utils";


export const getStaticPaths = ( async ({ paginate }) => {
  
    const pageSize  = 18 ;
    const locales = Object.keys(languages);
    const allPosts = await getCollection("posts");

    return locales.flatMap( locale => {
        const selectedPosts = allPosts.filter( item => item.id.includes(locale+"/") );
        return postTags.flatMap( tag => {
            const filteredPosts = selectedPosts.filter( item => item.data.tags.includes(tag) );
            return paginate( filteredPosts , {
                params : { locale , tag  },
                pageSize
            });
        });
    });
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

const { page } = Astro.props;
const { pageSize , tag } = Astro.params as Params;

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

---

<Layout>

    <BlogHeader currentPage={"Blog"} hText={t('post.desc')} />

    <main class="py-5 container-xxl">

        <section class="nav gap-3">

            <aside class="col-md-4 col-xl-3">
                <CategoryTags currentTag={tag} tags={postTags} />
                <PostContactBtn />
            </aside>

            <aside class="col-md-8 col-xl-9 row g-3 flex-order-2">
                <h4 class="col-12 col-lg-12 text-capitalize">{tag} Posts </h4>
                {page.data.map( item => <div class="col-12 col-md-6 col-xl-4">
                    <BlogCard  post={item} />
                </div>)}
            </aside>

            <Pagination data={page.url} size={pageSize} />

        </section>

    </main>

</Layout>