---
import type { CollectionEntry } from 'astro:content'
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

interface Props {
    post: CollectionEntry<"posts">
}

const { post } = Astro.props;

---
<div class="position-relative">

    <div class="position-absolute start-0 top-0 nav gap-2 p-3">
        {post.data.tags.map( tag => <a href={`/nbc/${locale}/blog/${tag}`} class="btn btn-sm btn-secondary">
            {tag}
        </a>)}
    </div>

    <img style="height: 220px; width:100%;" alt={post.data.featuredImg.url} class="bg-dark-subtle" src={`/nbc/${post.data.featuredImg.url}`}>

    <div class="p-1">
        <h4 class="fw-bold">{post.data.title}</h4>
        <span class="text-black-50">{new Date(post.data.publishedDate).toDateString()}</span>
        <p>{post.data.description}</p>
       
        <a class="icon-link icon-link-hover text-capitalize" href={`/nbc/${locale}/blog/${post.data.title}`}>
            {t("read")} <i class="bi bi-arrow-right ms-2 mb-1 small" />
        </a>

    </div>

</div>