---
import type { CollectionEntry } from 'astro:content';


interface Props {
    item : CollectionEntry<"members">;
    lang?: "en"|"fr";
}

const { item, lang = "en" } = Astro.props;
const redirectTo = `${item.data.pp.src}`;

---

<div class="text-center">
    <img style="height: 220px;object-position: 0px 0px;" class="img-fluid object-fit-cover w-100" alt={item.data.pp.alt} src={redirectTo}>
    <div class="p-3">
        <span class="d-block fs-6 fw-bold text-capitalize">{item.data.name}</span>
        {item.data.role[lang]}
    </div>
</div>