---
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "../i18n/utils"
import Logo from "./logo.astro";
import { socials, address } from "../data/address";

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);
const refLink = `/${locale}`;
const lastLinks = refLink+`/`+ (locale == "en" ? "terms-and-condittions":"termes-et-conditions")

const links = [
    {name: t('nav.home'), to:"/#"},
    {name:"Blogs", to:refLink+"/#"},
    {name:"F.A.Q", to:refLink+"/about#faq"},
    {name: t('nav.who'), to:refLink+"/about-us#who"},
];

const services = await getCollection("services",({ id }) => {
    return id.startsWith(locale+"/");
})
---

<footer class="py-4 text-bg-dark">

    <section class="container row g-3 justify-content-between mx-auto pt-4 pb-4 pb-lg-5">

        <aside class="col-lg-5 px-4 px-md-0">
            <Logo />
            <p class="my-1">{t('slogan')}</p>
            {address.map( item => <span class="d-block mb-1">
                <i class={`${item.icon} me-2`} />
                {item.to} 
            </span>)}
            <div class="mt-3">
                {socials.map( it => <a href={it.link} class={`btn btn-outline-light rounded-circle btn-sm ${it.icon} me-1`} />)}
            </div>
        </aside>

        <aside class="d-none d-md-block col-md-6 col-lg-3 text-center text-md-start">
            <h5 class="fw-bold">Services</h5>
            {services.map( item => <a class="d-lg-block mb-1 mx-2 mx-lg-0" href={`${refLink}/services/${item.data.title}`}> 
                <i class="bi bi-check2-circle me-1" />
                {item.data.title}
            </a>)}
        </aside>

        <aside class="d-none d-md-block col-md-6 col-lg-2 text-center text-lg-start">
            <h5 class="fw-bold">Pages</h5>
            {links.map( item => <a class="d-lg-block mb-1 mx-2 mx-lg-0" href={item.to}> {item.name}</a>)}
        </aside>

        <div class="border-top d-lg-none"></div>

    </section>

    <div style="font-size: xx-small;" class="container nav justify-content-center justify-content-lg-between p-2 pt-4 mx-auto">
        <span>
            &copy; { new Date().getFullYear()} Nti.BC. All rights reserved.
        </span>
        <span>
            <a href={lastLinks}>{t('terms')}</a> <span class="vr mx-1"/><a href={lastLinks+"#4-*"}>{t('privacy')}</a>
        </span>
    </div>
</footer>