---
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "../i18n/utils"
import Logo from "./logo.astro"

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

const links = [
    {name: t('nav.home'), to:"/#"},
    {name:"Blogs", to:"/#"},
    {name:"F.A.Q", to:"/about#faq"},
    {name: t('nav.about'), to:"/about#us"},
    {name: t('nav.contact'), to:"/#contacts"},
]

const socials = [
    { icon: "bi bi-twitter-x", to:"#"},
    { icon: "bi bi-facebook mx-1", to:"#"},
    { icon: "bi bi-whatsapp", to:"#"}
]

const address = [
    { icon: "bi bi-telephone-fill", to:"+237 667 316 329"},
    { icon: "bi bi-google", to:"ntibusinessconsulting@gmail.com"},
]


const services = await getCollection("services",({ id }) => {
    return id.startsWith(locale+"/");
})
---

<footer class="py-4 text-bg-dark">

    <section class="container row g-3 justify-content-between mx-auto pt-4 pb-4 pb-lg-5">

        <aside class="col-lg-5">
            <Logo />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, ratione fugiat quae. 
            </p>
            {address.map( item => <span class="d-block mb-1">
                <i class={`${item.icon} me-2`} />
                {item.to} 
            </span>)}
            <div class="mt-3">
                {socials.map( it => <a href={it.to} class={`btn btn-outline-light rounded-circle fs-6 ${it.icon} me-1`} />)}
            </div>
        </aside>

        <aside class="d-none d-md-block col-md-6 col-lg-3 text-center text-md-start">
            <h5 class="fw-bold">Services</h5>
            {services.map( item => <a class="d-lg-block mb-1 mx-2 mx-lg-0" href={item.id}> 
                <i class="bi bi-check2-circle me-1" />
                {item.data.title}
            </a>)}
        </aside>

        <aside class="d-none d-md-block col-md-6 col-lg-2 text-center text-lg-start">
            <h5 class="fw-bold">Pages</h5>
            {links.map( item => <a class="d-lg-block mb-1 mx-2 mx-lg-0" href={item.to}> {item.name}</a>)}
        </aside>

        <div class="border-top d-lg-none"></div>

    </section>

    <small class="container nav justify-content-lg-between p-2 pt-4 small mx-auto">
        <span>
            &copy; { new Date().getFullYear()} Nti business consulting. All rights reserved.
        </span>
        <a href="#">Proudly built & designd by nzenda-group</a>
    </small>
</footer>