---
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Logo from "./logo.astro";
import LangChanger from "./utils/langChanger.astro";


const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

const services = await getCollection("services",({ id }) => {
  return id.startsWith(locale+'/');
});

---

<header class="container-fluid border-bottom">

    <section class="container mx-auto d-none d-md-flex justify-content-between align-itms-center px-2 py-1">

        <small>
            <i class="bi bi-phone"></i>
            Book a consultation today example@mailbox.com
        </small>


        <small>
            EN | FR
        </small>

    </section>

</header>

<nav
    class="container-fluid navbar navbar-expand-lg" aria-label="website main navbar"
>
    <section class="container mx-auto">

        <Logo />

        <button
            class="navbar-toggler border-0 ms-auto"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#wbsNavbar"
            aria-controls="wbsNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>       

        <ul class="collapse navbar-collapse navbar-nav justify-content-lg-between gap-2 p-1" id="wbsNavbar">


            <li class="d-flex flex-column flex-lg-row mx-auto">

                <a class="nav-link active" aria-current="page" href={`/nbc/${locale}/`}>{t('nav.home')}</a>

                <div class=" dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {t('nav.about')}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href={`/nbc/${locale}/about-us#`}>{t('nav.who')}</a></li>
                        <li>
                            <a class="dropdown-item" href={`/nbc/${locale}/about-us#team`}>Team</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href={`/nbc/${locale}/about-us#faq`}>faq</a>
                        </li>
                    </ul>
                </div>


                <div class=" dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {t('nav.services')}
                    </a>
                    <div class="dropdown-menu end-50 translate-middle-x">
                        <ul style="min-width: 70vw;" class="list-unstyled row row-cols-1 row-cols-lg-2 g-2">
                            {services.map( service => <li>
                                <a class="dropdown-item" href="#">{service.data.title}</a>
                            </li>)}
                        </ul>
                    </div>
                </div>

                <a class="nav-link active" aria-current="page" href={`/nbc/${locale}/blog/1`}>Blog</a>
                <a class="nav-link active" aria-current="page" href={`/nbc/${locale}/blog`}>Projets</a>

            </li>
            
            <button data-bs-toggle="modal" data-bs-target="#contactUs" class="btn btn-primary">{t('nav.contact')}</button>
            
        </ul>

        <div class="ms-2"><LangChanger /></div>
    </section>
</nav>