---
import { getCollection } from "astro:content";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Logo from "./logo.astro";
import LangChanger from "./utils/langChanger.astro";

const locale = getLangFromUrl(Astro.url);
const { pathname } = Astro.url;
const t = useTranslations(locale);
const today = new Date().getTime(); 
const refLink = `/nbc/${locale}`;
const activeLink = "active fw-bold";

const services = await getCollection("services", ({ id }) => {
    return id.startsWith(locale + "/");
});

const recentPosts = await getCollection("posts", ( { id,  data}) => {
    const dat = new Date(data.publishedDate).getTime();
    return Math.floor( today - dat ) < 5259600000 && id.includes(locale+"/");
});

const showPosts = recentPosts.slice(0,2);

const blogs = [
    { name : "taxes" , icon:"me-2 bi bi-tag " , link:`${refLink}/blog/1`},
    { name : "astuces" , icon:"me-2 bi bi-info" , link:`${refLink}/blog/1`},
    { name : "articles" , icon:"me-2 bi bi-newspaper " , link:`${refLink}/blog/1`}
];

const resources = [
    { name : "Communaute" , icon:"me-2 bi bi-people " , link:`${refLink}/blog/1`},
    { name : "Politiques de Privacy" , icon:"me-2 bi bi-people " , link:`${refLink}/blog/1`},
    { name : "opportunites de .." , icon:"me-2 bi bi-node-plus " , link:`${refLink}/blog/1`},
    { name : "temoinages" , icon:"me-2 bi bi-people " , link:`${refLink}/blog/1`}
];

const proj = [
    { name : "projet typ-1" , icon:"me-2 bi bi-archive" , link:`${refLink}/blog/1`}
];
---

<header class="container-fluid border-bottom">
    <section
        data-bs-toggle="modal" data-bs-target="#contactUs"
        class="container mx-auto d-flex justify-content-between align-itms-center px-2 py-1"
    >
        <btn class="btn btn-sm">
            <i class="bi bi-phone"></i>
            Book a consultation
        </btn>

        <small> EN | FR </small>
    </section>
</header>

<nav class="container-fluid navbar navbar-dark navbar-expand-lg p-3 position-absolute" aria-label="Offcanvas navbar large">

    <section class="container mx-auto nav gap-2 justify-content-between align-items-center">

        <Logo />

        <aside
            class="offcanvas offcanvas-end text-bg-dark"
            tabindex="-1"
            id="offcanvasNavMenu"
            aria-labelledby="offcanvasNavMenuLabel"
        >

            <section class="offcanvas-header">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" />
            </section>


            <section class="offcanvas-body">

                <ul class="navbar-nav nav flex-column flex-lg-row gap-2 justify-content-end justify-content-lg-center flex-grow-1 pe-3">

                    <a class={`nav-link ${pathname.endsWith("fr") || pathname.endsWith("en") ? activeLink :'' }`} aria-current="page" href={`${refLink}`}>
                        {t("nav.home")}
                    </a>
                    
                   <div class="dropdown">
                        <a
                            class={`nav-link dropdown-toggle ${pathname.search("about-us") > 0 ? activeLink :'' }`}
                            href="#"
                            role="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                        >
                            {t("nav.about")}
                        </a>

                        <ul class="dropdown-menu">
                            <a class="dropdown-item" href={`${refLink}/about-us#`}>{t("nav.who")}</a>
                            <a  class="dropdown-item"  href={`${refLink}/about-us#team`}>Team</a>
                            <a class="dropdown-item" href={`${refLink}/about-us#faq`}>faq</a>
                        </ul>
                    
                    </div>

                    <a
                        class={`nav-link dropdown-toggle ${pathname.includes("/blog") || pathname.includes("/project") ? activeLink :'' }`}
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        {t("nav.news")}
                    </a>

                    <aside class="dropdown-menu mega-menu">

                        <section class="bg-body container mx-auto row p-3">

                            <div class="col-lg-3">
                                <h6 class="fw-bold text-primary mb-3">Projets</h6>
                                {proj.map( projet => <a href={projet.link} class="mb-3">{projet.name}</a>)}
                            </div>

                            <div class="col-lg-3">
                                <h6 class="fw-bold text-primary mb-3">Blog</h6>
                                {blogs.map( blog => <a href={blog.link} class="d-block mb-3">
                                    <i class={blog.icon}/> {blog.name}
                                </a>)}
                                <h6 class="fw-bold text-primary mb-3">Resouces</h6>
                                {resources.map( resource => <a href={resource.link} class="d-block mb-3">
                                    <i class={resource.icon}/> {resource.name}
                                </a>)}
                            </div>

                            <div class="col-lg-6 d-none d-lg-flex flex-column gap-2">
                                <h6 class="fw-bold text-primary">Nouveaute</h6>
                                <div style="font-size: smaller;" class="d-flex gap-1">
                                    {showPosts.map( item => <a href={`${refLink}/blog/${item.data.title}`} class="col-md-6 position-relative border-end p-2">
                                        <p>{item.data.tags.map( tag => <small class="btn btn-sm btn-primary me-1">{tag}</small>)}</p>
                                        <p class="fw-semibold"> {item.data.title} </p>
                                        <p>{item.data.description}</p>
                                    </a>)}
                                </div>
                            </div>

                        </section>

                    </aside>

                    <div class="dropdown">
                        <a
                        class={`nav-link dropdown-toggle ${pathname.search("/services") > 0 ? activeLink :'' }`}
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                        >
                            Services
                        </a>

                        <div class="dropdown-menu dropdown-menu-end">
                            {services.map( service => <a class="dropdown-item" href={`${refLink}/services/${service.data.title}`} >
                                <i class={`${service.data.icon} me-1`} /> 
                                {service.data.title}
                            </a>)}
                        </div>
                    </div>

                </ul>

                <input
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#contactUs"
                    class="btn btn-primary"
                    value={t("nav.contact")} 
                />

            </section>

        </aside>

        <aside class="d-flex gap-2">

            <button
                class="navbar-toggler border-0"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavMenu"
                aria-controls="offcanvasNavMenu"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <LangChanger />
        </aside>

    </section>

</nav>
